In [4]:
import pandas as pd
import numpy as np
import os

In [60]:
# import dataset Migration movements
print(os.getcwd())

os.chdir("../")
os.chdir("datasets/preprocessed datasets/Temperature and precipitation")
raw_data = pd.read_csv('tas_pr_1991_2015_AC.csv')
df_weather = pd.DataFrame(raw_data)
os.chdir("../../")

print(os.getcwd())

C:\Users\boble\Documents\GitHub\DataProcessing\datasets
C:\Users\boble\Documents\GitHub\DataProcessing\datasets

In [59]:
# import dataset Temperature and precipitation
print(os.getcwd())

os.chdir("../")
os.chdir("datasets/preprocessed datasets/Migration movements")
raw_data = pd.read_csv('data_africa.csv')
df_migration = pd.DataFrame(raw_data)
os.chdir("../../")

print(os.getcwd())

C:\Users\boble\Documents\GitHub\DataProcessing\datasets
C:\Users\boble\Documents\GitHub\DataProcessing\datasets

In [61]:
# selecteer voor een #input_data de #country_of_residence vanuit een bepaalde #origin vanaf #year1 tot en met #year2

def select_plot_migratiestromen(input_data, country_of_residence, origin, year1, year2):
    input_data = input_data.loc[input_data['Country of residence'] == country_of_residence]
    if input_data.empty == True:
        return('Error: Country of residence: {} is not included in DataFrame!'.format(country_of_residence))
    input_data = input_data.loc[input_data['Origin'] == origin]
    if input_data.empty == True:
        return('Error: Origin: {} is not included in DataFrame!'.format(country_of_residence))
    input_data = input_data.loc[(input_data['YearMonth'] > year1) & (input_data['YearMonth'] < year2 + 1)]
    return input_data

select_plot_migratiestromen(df_migration, 'Netherlands', 'Zimbabwe', 2000, 2012)

      Country of residence    Origin    YearMonth  Values
36702          Netherlands  Zimbabwe  2000.250000       1
36703          Netherlands  Zimbabwe  2000.333333       1
36704          Netherlands  Zimbabwe  2000.416667       2
36705          Netherlands  Zimbabwe  2000.666667       4
36706          Netherlands  Zimbabwe  2000.750000       1
36768          Netherlands  Zimbabwe  2001.833333       1
36875          Netherlands  Zimbabwe  2002.333333       2
36876          Netherlands  Zimbabwe  2002.500000       4
36877          Netherlands  Zimbabwe  2002.583333       1
36878          Netherlands  Zimbabwe  2002.750000       3
36879          Netherlands  Zimbabwe  2002.916667       1
37013          Netherlands  Zimbabwe  2003.000000       1
37014          Netherlands  Zimbabwe  2003.166667       1
37015          Netherlands  Zimbabwe  2003.333333       2
37016          Netherlands  Zimbabwe  2003.500000       1
37017          Netherlands  Zimbabwe  2003.583333       2
37018          Netherlands  Zimbabwe  2003.750000       1
37019          Netherlands  Zimbabwe  2003.916667       1
37155          Netherlands  Zimbabwe  2004.000000       1
37156          Netherlands  Zimbabwe  2004.166667       2
37157          Netherlands  Zimbabwe  2004.250000       1
37158          Netherlands  Zimbabwe  2004.666667       1
37159          Netherlands  Zimbabwe  2004.750000       1
37160          Netherlands  Zimbabwe  2004.833333       1
37161          Netherlands  Zimbabwe  2004.916667       1
37302          Netherlands  Zimbabwe  2005.250000       2
37303          Netherlands  Zimbabwe  2005.500000       2
37304          Netherlands  Zimbabwe  2005.916667       4
37435          Netherlands  Zimbabwe  2006.083333       2
37436          Netherlands  Zimbabwe  2006.166667       1
...                    ...       ...          ...     ...
37734          Netherlands  Zimbabwe  2008.166667       1
37735          Netherlands  Zimbabwe  2008.250000       1
37736          Netherlands  Zimbabwe  2008.333333       5
37737          Netherlands  Zimbabwe  2008.416667       1
37738          Netherlands  Zimbabwe  2008.583333       2
37902          Netherlands  Zimbabwe  2009.000000       1
37903          Netherlands  Zimbabwe  2009.166667       3
37904          Netherlands  Zimbabwe  2009.250000       4
37905          Netherlands  Zimbabwe  2009.416667       3
37906          Netherlands  Zimbabwe  2009.666667       1
37907          Netherlands  Zimbabwe  2009.750000       1
38066          Netherlands  Zimbabwe  2010.083333       1
38067          Netherlands  Zimbabwe  2010.166667       3
38068          Netherlands  Zimbabwe  2010.250000       3
38069          Netherlands  Zimbabwe  2010.333333       2
38070          Netherlands  Zimbabwe  2010.416667       2
38071          Netherlands  Zimbabwe  2010.666667       3
38072          Netherlands  Zimbabwe  2010.750000       2
38073          Netherlands  Zimbabwe  2010.833333       1
38205          Netherlands  Zimbabwe  2011.000000       2
38206          Netherlands  Zimbabwe  2011.250000       2
38207          Netherlands  Zimbabwe  2011.333333       2
38208          Netherlands  Zimbabwe  2011.583333       2
38209          Netherlands  Zimbabwe  2011.666667       1
38210          Netherlands  Zimbabwe  2011.750000       1
38211          Netherlands  Zimbabwe  2011.916667       1
38331          Netherlands  Zimbabwe  2012.000000       1
38332          Netherlands  Zimbabwe  2012.083333       1
38333          Netherlands  Zimbabwe  2012.166667       1
38334          Netherlands  Zimbabwe  2012.416667       1

[70 rows x 4 columns]

In [62]:
test = select_plot_migratiestromen(df, 'Germany', 'Zimbabwe', 1999, 2017)
test.plot(x='YearMonth', y='Values')

NameError: name 'select_plot' is not defined

In [5]:
# geeft voor een #input_data van een #country de pr en tas vanaf #year1 tot en met #year2
def select_plot_temperatuur_en_neerslag(input_data, country, year1, year2):
    saved_dict = {'mauritania': 'MRT', 'lesotho': 'LSO', 'somalia': 'SOM', 'nigeria': 'NGA', 'tanzania': 'TZA', 'zambia': 'ZMB', 'burundi': 'BDI', 'afghanistan': 'AFG', 'mali': 'MLI', 'niger': 'NER', 'malawi': 'MWI', 'congo': 'ZAR', 'cabo verde': 'CPV', 'sudan': 'SDN', 'pakistan': 'PAK', 'burkina faso': 'BFA', 'rwanda': 'RWA', 'kenia': 'KEN', 'senegal': 'SEN', 'cameroon': 'CMR', 'sierra leone': 'SLE', 'iraq': 'IRQ', 'uganda': 'UGA', 'mozambique': 'MOZ', 'zimbabwe': 'ZWE', 'central african republic': 'CAF', 'ethiopia': 'ETH', 'guinea': 'GIN', 'liberia': 'LBR', 'djibouti': 'DJI', 'iran': 'IRN', 'madagascar': 'MDG', 'lebanon': 'LBN'}

    if country in saved_dict.keys():
        country = saved_dict[country]
    else:
        print("Please enter correct country name")
    
    input_data = pd.DataFrame(input_data.loc[input_data['country'] == country])
    input_data = input_data.loc[(input_data['year'] > year1 - 1) & (input_data['year'] < year2 + 1)]
    return input_data

select_plot_temperatuur_en_neerslag(df_weather, 'mauritania', 2002, 2012)

NameError: name 'df_weather' is not defined